* {
  padding: 0px;
  margin: 0px;
  
}

.App {
  text-align: center;
  color: black;
}

.Login {

  font-size: 40px;
  background-color: white;
  background-image: url(food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  min-height: 150vh;

  


}


