.App {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 0 25%;
  min-height: 100vh;
}

Link, a {
  text-decoration: none !important;
}

.navbar-brand, .nav-link {
  cursor: pointer;
}

.App .container {
  background: #fff;
}

/* ... used for spans>img in login */
.input-group-text {
  width: 3vw;
}

.form-container {
  padding-top: 15%;
}

.form-col {
  text-align: center;
  padding: 1% 15%;
}

.pw-visibility-toggler {
  background-size: cover;
  min-width: 3vw !important;
}

.input-error {
  color: red !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.step-col {
  text-align: center;
  margin: 1% 0;
  padding: 2%;
}

/* avoid scroll in dialog */
.MuiDialog-paper-5, .MuiDialog-paper-40{
  overflow-y: unset !important;
}

